body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
}

h1 {
    color: yellow;
    margin-bottom: 0;
    font-size: 45px;
}

h2 {
    color: yellow;
}

p {
    color: white;
    font-size: 15px;
    line-height: 1.6;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.left {
    padding-left: 40px;
    padding-right: 5px;
    text-align: center;
    width: 34%;
}

.right {
    padding-right: 35px;
    padding-left: 35px;
}

.highlight {
    text-decoration: underline;
}

.start {
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: yellow;
}

.start:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.button {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

#menu-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-2 {
    display: none;
    flex-direction: column;
    align-items: center;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.keyboard {
    width: 30rem;
}

.game-canvas {
    position: relative;
}

#pause {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255, 0.3);
    display: none;
}

#pause.active {
    display: flex;
}

#pause div {
    background: yellow;
    padding: 20px 30px;
}

#pause p {
    font-size: 15px;
    color: black;
}

#pause h6 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}